body {
    background-color: #7D00AE ;
    color: white;
    /* background-color: blanchedalmond; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.logo {
    height: 150PX;
    width: 150px;
    margin-right: 0;
}

.b-header {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 50px;

}

.b-footer {
    display: flex;    
    background-color: #7D00AE;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {
    background-color: #7D00AE;
}

.grand_titre {
    margin-left: 250px;
}

.tableau {
    margin: 70px;
    margin-left: 400px;
}

table, td, th{
    border: 1px solid;
  }

table {
    width: 500px;
    border-collapse: collapse;
  }

td, tr { 
    height: 50px;
}

td {
    text-align: center;
}

tr:hover {background-color: #d998f3;}

.drapeausn {
    height: 150PX;
    width: 200px;
}

#copyright {

    text-align: center;
}